@model IEnumerable<Team>

    <h1>Show Teams</h1>

    <table class='table'>

        <thead>
            <th>@Html.DisplayNameFor(m=>m.TeamId)</th>
            <th>@Html.DisplayNameFor(m=>m.TeamName)</th>
           

        </thead>

        <tbody>
            

            
             @foreach (var item in @Model)
             {
                <tr>
                <td>@item.TeamId</td>
                <td>@item.TeamName</td>
                </tr>
             }
             

            
        </tbody>

    </table>